<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--2-->
<!--    <bean id = "programmer" class = "com.Eternity.code.Programmer" scope="singleton">-->
<!--    </bean>-->

    <!--3-->
<!--    <bean id = "programmer" class = "com.Eternity.code.Programmer">-->
<!--        <property name="age" value="25"> </property>-->
<!--    </bean>-->

    <!--4-->
<!--    <bean id = "programmer" class = "com.Eternity.code.Programmer">-->
<!--        <property name="lap" ref="lapId"> </property>-->
<!--    </bean>-->



        <bean id = "programmer" class = "com.Eternity.code.Programmer">
<!--6-->
<!--            <constructor-arg index="0" value="24" />-->
<!--            <constructor-arg index="1" ref="lapId" />-->

<!--            <constructor-arg name="age" value="24" />-->
<!--            <constructor-arg name="lap" ref="lapId" />-->

            <property name="com" ref="lapId"/>

        </bean>

    <bean id = "lapId" class="com.Eternity.code.Laptop"/>
    <bean id="deskId" class="com.Eternity.code.Desktop"/>

</beans>
